{% extends 'layout.html'%}


{%block main %}

{% for message in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<section class="row border  ">
    
        <form class=" p-5 mt-5 mx-5 rounded" action="#" method="POST">
            <h2>Modifier</h2>
            <div class="mb-3">
                <label for="exampleInputNom" class="form-label">Nom </label>
                <input type="name" class="form-control" id="exampleInputNom" aria-describedby="name" name="Nom" value="{{user.Nom}}">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{user.email}}"> 
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="pass" value="{{user.password}}">
            </div>
          
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-success">Modifier</button>
            <!-- <a href="/inscription">s'?</a> -->
          </form>
    
    
    
</section>







{%endblock%}



